:root {
  --primary-color: #2f292b;
  --secondary-color: #e5e7de;
}

* {
  font-family: Arial, Helvetica, sans-serif;
  color: var(--primary-color);
}

a {
  text-decoration: none;
  transform: scale(1);
  transition: all ease 1s;
}

a:hover {
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
  -webkit-box-shadow: 0px 20px 0px -10px #ffffff, 0px -20px 0px -10px #ffffff,
    20px 0px 0px -10px #ffffff, -20px 0px 0px -10px #ffffff,
    0px 0px 0px 10px #030303, 3px 12px 50px 50px rgba(52, 255, 127, 0);
  box-shadow: 0px 20px 0px -10px #ffffff, 0px -20px 0px -10px #ffffff,
    20px 0px 0px -10px #ffffff, -20px 0px 0px -10px #ffffff,
    0px 0px 0px 10px #020202, 3px 12px 50px 50px rgba(52, 255, 127, 0);
  transition: all ease 1s;
}
